
/* CSS COLOR */
/* **************************************************************** */

body {
    background-color: #F1AE4A;
  }

  h1{

    color:white;
    
  }
  h2{

    color:white;
    
  }
  p{

    color:white;
    
  }
